<!-- Rudveda-Education -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      #bill-box {
      margin-top: 10vh;
      margin-left: 35vw;
      width: 30vw;
      height: 80vh;
      border: 1px solid black;
      border-radius: 5%;
      }
      #form {
      margin-top: 20vh;
      margin-left: 8vw;
      width: 30vw;
      height: 80vh;
      }
      .input{
        height: 50px;
        width: 250px;
      }      

  </style>
  <title>Rudveda-Education</title>
</head>
<body>
  <div id="bill-box" >
    <center><h1>Rudveda-Education</h1></center>
    <div id="form">
      
      <form action="#" method="post">
        <input type="text" class="input" id="input1" name="full-name" placeholder="Full Name" required><br><br>
        <input type="text" class="input" id="input2" name="mobile-number" placeholder="Registered Mobile Number" required><br><br>
        <input type="email" class="input" id="input3" name="email" placeholder="Email Address" required><br><br>
        <input type="text" class="input" id="input4" name="amount" placeholder="Amount(₹)" required><br><br>
  
        <button type="submit">Submit</button>
    </form>
  
    </div>
    
  </div>
    </body>
</html>